body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar {
    background: #666565;
    padding: 20px 30px; /* el primero es el espaciado arriba-abajo y el segundo el de los lados de la navbar*/
}

.navbar ul li {
    list-style: none;
}

.navbar li {
    margin-left: 10px;
}

.navbar ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: rgb(177, 234, 237);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.containernav {
    max-width: 1200px;
    margin: auto;
}

.card {
    background: whitesmoke;
    color: black;
    padding: 10px;
    margin-bottom: 2px;
}

.input {
    background: wheat;
    padding: 10px;
    text-align: center;
    display: block;
}
